#include "SMRUsenet.h"
#include "gynplugin.h"
#include "version.h"

STRINGTABLE
BEGIN
  IDS_GYN, "GetYourNews"
  IDS_GYN_TYPE "Multipart"
  IDS_SUPPORT_FOR_1 "Hogwasher/2.6.1"
  IDS_SUPPORT_FOR_2 "Hogwasher/3.0b7 (Carbon/OSX)"
  IDS_SUPPORT_FOR_3 "Hogwasher/3.0 (Carbon/OSX)"
  IDS_SUPPORT_FOR_4 ""
  IDS_VERSION_MAJOR     VERSION_MAJOR
  IDS_VERSION_MINOR     VERSION_MINOR
  IDS_VERSION_INCENDENTAL       VERSION_INCENDENTAL
END

